.title
    height 60px
    padding 12px 10px

    font-family: Fira Sans,sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #d2d2d2;
    background: #122c90d1;
    margin-bottom: 8px;

.authForm
    width: 320px;
    display: flex;
    flex-direction: column;
    height: 158px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto
    border-radius: 2px
    background #fff
    box-shadow: 0 2px 6px rgba(64,73,96,.07), 0 1px 0 rgba(64,73,96,.05), 0 0 2px rgba(64,73,96,.07);
.login
    margin-left: 15px