field()
  border 1px solid #a9a9a9
  border-radius 3px
  padding 8px
  box-sizing border-box
  outline none

  font-size: 18px;
  font-weight: 200;
  color: #000000c2;


button()
  width 80px
  background #fff
  cursor pointer

  border-radius: 3px;
  padding: 8px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  font-weight: 200;
  border: 1px solid #384fa4;
  color: #384fa4;
  font-family: Fira Sans,sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: capitalize
  box-shadow: 0 2px 6px rgba(64,73,96,0.07), 0 1px 0 rgba(64,73,96,0.05), 0 0 2px rgba(64,73,96,0.07);
  &:hover
    box-shadow: 0 0 5px 2px #b3b5d452;
  &:active
    box-shadow: 0 0 5px 2px #b3b5d452;