.tasks
    position relative

.tasks__list {
    list-style: none;
    width: 100%
}
.block_wrap {
    padding: 2px
}
.block
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 3px;

    font-size: 20px;
    user-select: none;
    background #fff
    box-shadow: 0 2px 6px rgba(64,73,96,0.07), 0 1px 0 rgba(64,73,96,0.05), 0 0 2px rgba(64,73,96,0.07);

.headRow,
.blockItems {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.blockItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.block__pagination
    display: flex;
    align-items: left;
    justify-content: flex-end;
    padding: 10px 0;

.navigation_button
    border-radius: 3px;
    background: #00020c2e;
    border: 1px solid #00000061;
    background: rgba(255, 255, 255, 0.18);
    color: #000000b8;
    width: 40px
    height: 40px
    cursor: pointer

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Fira sans-serif;
    font-weight: 500;
    font-size: 18px;

.navigation_button_active
    color: #1890ff;
    border: 1px solid #1890ff;
    outline none
    &:focus
        outline: 1px solid #1890ff;
        outline-color: transparent;
    &:active
        outline: 1px solid #1890ff;
        outline-color: transparent;
.navigation_button_dots
    border none
    width: auto;
    height: auto;
    padding: 10px 8px;
    font-weight: 900;

.arrow-up,
.arrow-down
    width: 15px
    cursor: pointer
    height: 15px
    background url('media/up.svg');
    background-size 100%
    color: red

.arrow-down
    width: 15px
    cursor: pointer
    height: 15px
    background url('media/down.svg');
    background-size: 100%;