@import '../../css/base.styl'

.addTask
    margin-bottom: 20px
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
    @media screen and (max-width: 778px)
        height: auto
        margin-top: 20px
        margin-bottom: 10px


.field
    field()

.button
    button()

.arrow-down
    height: 15px
    background url('../media/down.svg');
    background-size 100%
    width: 15px
    cursor: pointer

